# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Généré par `flutter create .`
/android/
/ios/
/linux/
/macos/
/windows/
/web/
.idea/
*.iml
